.whyrightrate__container {
    margin-top: 0;
    width: 100%;
    height: fit-content;
    background: var(--color-primary);
    color: var(--color-white);
    display: grid;
    grid-template-columns: 1.5fr 3fr;
}

.whyrightrate__title {
    font-size: 1.8rem;
    padding: 4rem;
}

.whyrightrate__title > h2 > span {
    background: var(--color-white);
    color: var(--color-primary);
    border-radius: 1rem;
    padding: 0.3rem;
}

.whyrightrate__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content__items {
    display: grid;
    grid-template-columns: 1fr 3fr;
    top: 20%;
    transform: translateY(50%);
}

.content__icon {
    background: var(--color-white);
    color: var(--color-primary);
}


.content__items > span {
    height: 3rem;
    width: 3rem;
    background: var(--color-white);
    color: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__items > p{
    font-size: 1.3rem;
    font-weight:500;
}

/* ====================== MEDIA QUERRY (FOR TABLETS)===================== */

@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }

    .whyrightrate__container {
        margin-top: 2rem;
        font-size: 0.1rem;
    }
}
/* ====================== MEDIA QUERRY (FOR MOBILE DEVICES)===================== */

@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-lg);
    }

    .whyrightrate__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .whyrightrate__content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 3rem;
    }

    .content__items:not(:first-child) {
        margin-top: 1.3rem;
    }
}
