.mover__container {
  background: var(--color-primary);
  padding: 2.4rem;
  margin-top: 2.5rem;
  color: var(--color-white);
}

.mover__info {
  animation: marquee 15s linear infinite;
  font-weight: 500;
  font-size: 1.3rem;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

/* ====================== MEDIA QUERRY (FOR TABLETS)===================== */

@media screen and (max-width: 1024px) {
  .mover__container {
    height: 4rem;
    padding: 1.2rem;
  }
}

/* ====================== MEDIA QUERRY (FOR TABLETS)===================== */

@media screen and (max-width: 600px) {
  .mover__container {
    height: 4rem;
    padding: 1.2rem;
  }
}
